.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  transition: ease 0.2s;

  &.-completed {
    > .title {
      text-decoration: line-through;
    }
  }

  > .title {
    max-width: 300px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }

  > .actions {
    display: flex;
    gap: 4px;

    > .action {
      padding: 4px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: grey;
      }
    }
  }

  &:hover {
    background-color: #cdcdcd;
  }
}
