.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  transition: ease 0.2s;

  &.-completed {
    > .title {
      text-decoration: line-through;
    }
  }

  > .title {
    max-width: 300px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }

  > .actions {
    display: flex;
    gap: 4px;

    > .action {
      padding: 4px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: grey;
      }
    }
  }

  &:hover {
    background-color: #cdcdcd;
  }
}

.overlay {
  padding: 8px;
  border-radius: 8px;
  background-color: grey;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    left: 48%;
    top: 110%;
    transform: rotate(45deg) translateX(-80%) translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: grey;
  }
}
