<li
  class="task-container"
  (dblclick)="markTask()"
  [ngClass]="{ '-completed': task.completed }"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <p class="title">{{ task.title }}</p>

  <div class="actions">
    <app-button
      icon="edit"
      type="icon"
      [onClick]="onClickEdit.bind(this)"
    ></app-button>
    <app-button
      icon="delete"
      type="icon"
      [onClick]="onClickDelete.bind(this)"
    ></app-button>
  </div>
</li>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="hovered"
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'end',
      originY: 'top',
      overlayX: 'end',
      overlayY: 'bottom',
      offsetY: -10
    }
  ]"
  cdkConnectedOverlayWidth="150px"
>
  <div class="overlay">
    Double click to mark as {{ task.completed ? "incompleted" : "completed" }}
  </div>
</ng-template>
