<main class="todo-container">
  <div class="header">
    <h3 class="title">To Do Tasks</h3>
    <app-button
      icon="add"
      type="icon"
      [onClick]="onClickAdd.bind(this)"
    ></app-button>
  </div>

  <div class="body">
    <ng-container *ngIf="isLoading$ | async; else loaded">
      <div class="loading">Loading...</div>
    </ng-container>
  </div>
</main>

<ng-template #loaded>
  <app-task-list
    *ngIf="tasks$ | async as tasks"
    [tasks]="tasks"
  ></app-task-list>
</ng-template>
