.button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;

  &.-primary {
    background-color: green;

    &:hover {
      background-color: #00d300;
    }
  }

  &.-secondary {
    background-color: transparent;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
  }

  &.-icon {
    padding: 4px;
  }

  &.-secondary:hover,
  &.-icon:hover {
    background-color: grey;
    color: white;
  }
}
